/* fcd400ff  yellow 
282424 black */
body {
	background-color: #282424;
	padding-top: 100px;
}
.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #282424;
}
h1, h2, h3, h4, h5, h6, .page-header, .panel-title {
	background-color: #282424;
	color: #fcd400;
	border-color: #fcd400;
}
h1, h2, h3, h4, h5, h6 {
	padding: 5px;
	border-radius: 4px;
}
.navbar .navbar-header .navbar-brand, .navbar .nav li a {
	color: #fcd400;
}
table, .table {
	border-radius: 4px;
}
.table-hover tbody tr:hover td {
	color: #fcd400;
}
td, th, .media p{
	background-color: #282424;
	color: white
}
.thumbnail, .about-panel > .panel-heading, .panel {
	background-color: #282424;
}
.navbar-toggle .icon-bar {
	color: #fcd400;
}
.media-body p {
	color: #fcd400;
}
