/* fcd400ff  yellow 
282424 black */

@font-face {
	font-family: westmeath;
	src: url(../fonts/Westmeath.otf);
	font-weight: bold;
}
body {
	background-color: #282424;
	padding-top: 100px;
	font-family: westmeath;
}
.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #282424;
}
h1, h2, h3, h4, h5, h6, .page-header, .panel-title {
	background-color: #282424;
	color: #fcd400;
	border-color: #fcd400;
}
h1, h2, h3, h4, h5, h6 {
	padding: 5px;
	border-radius: 4px;
}
.navbar .navbar-header .navbar-brand, .navbar .nav li a {
	color: #fcd400;
}
table, .table {
	border-radius: 4px;
}
.table-hover tbody tr:hover td {
	color: white;
}
td, th, .media p{
	background-color: #282424;
	color: #fcd400;
}
.thumbnail, .about-panel > .panel-heading, .panel {
	background-color: #282424;
}
/*this is for the nav expander lines */
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #fcd400;
}
.media-body p, .glyphicon-chevron-left, .glyphicon-chevron-right {
	color: #fcd400;
}
.carousel-indicators li {
	background-color: #fcd400;
}
/*
 * FontIsAwesome icon css
 */
.fa {
	padding: 20px;
    font-size: 20px;
    width: 40px;
    text-align: center;
}
/* make facebook icon blue 
.navbar ul.nav .fa-facebook-square {
   color : #3b5998;
} */
